---
import "../styles/global.css";
import SiteHeader from "./SiteHeader.astro";

const { title = "Noah O'Connor's Portfolio" } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/site/NLogo.svg" />
    <title>{title}</title>
</head>

<body>
<SiteHeader />

<slot />
</body>
</html>