---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";
import ProjectShowcaseCarousel from "../../components/ProjectShowcaseCarousel.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => ({
        params: { slug: project.data.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout title={project.data.title}>
    <main class="page project-page">
        <ProjectShowcaseCarousel project={project} />

        <article class="project-writeup">
            <Content />
        </article>
    </main>
</Layout>